@page "/"

<PageTitle>Adventure</PageTitle>

<h1>Adventures</h1>

<div>
    <img src="/Images/ad1.jpeg" style="width: 250px; height: 200px;" />
    <img src="/Images/ad2.jpeg" style="width: 250px; height: 200px;" />
    <img src="/Images/ad3.jpeg" style="width: 250px; height: 200px;" />
    <img src="/Images/ad4.jpeg" style="width: 250px; height: 200px;" />
    <img src="/Images/ad5.jpeg" style="width: 250px; height: 200px;" />
</div>

<a href="http://goadventurelist.com/">AdventuresList</a>